$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$dark-blue : #264065;
$grey : #909090;
$light-cyan: #A9D6CB;
$background:#FAF8F5;


$poppins: "Poppins", sans-serif;
$nunito: "Nunito Sans", sans-serif;

