.header {
    position: relative;
    z-index: 2;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
    }

    &__logo {
        img {
            width: 180px;
        }
    }

    &__nav {
        a {
            text-decoration: none;
            color: $dark-blue;
            font-size: 16px;
        }
    }

    &__menu {
        @include reset-list;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }


    &__buttons {
        display: flex;
        align-items: center;
        font-size: 16px;
         &--search {
            margin-right: 32px;
         }

         &--signin {
            color: $dark-blue;
            font-family: "Nunito Sans";
            font-size: 16px;
            line-height: 40px; 
            text-underline-offset: auto;
            margin-left: 64px;
            margin-right: 32px;
         }

         &--search {
            img {
            width: 25px;
            }
}
         &--bag {
            img {
            width: 25px;
            }
        }
    }

}


.dropdown {

    position: relative;

    &__menu {
        display: none;
        position: absolute;
        li {
            width: 90px;
        }
    }

    &:hover {
        .dropdown__menu {
            display: block;
        }
    }

}