.services {
    width: 500px;
    max-height: 280px;
    background-color: white;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 60px 0px 0px 100px;

    

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        
    }

    &__item img {
        width: 60px;
        height: auto;
    }

    &__number {
        color: $dark-blue;
        font-size: 20px;
        font-weight: 500;
        margin-top: 24px;
    }

    &__content {
        color: $grey;
        font-size: 12px;
        max-width: 145px;
        margin-top: 16px;
    }
}